h1,
h2,
h3 {
  margin: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
  transition: opacity 150ms ease-in-out;
}

a:hover {
  opacity: 0.8;
  text-decoration: none;
  color: inherit;
}

em {
  font-family: inherit;
  font-weight: 200;
  font-style: italic;
}

.arabic {
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  text-align: right;
}
